@font-face {
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(Rubik-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Rubik-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::placeholder {
    color: #5f6367
  }
  
  
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 180px;
    min-height: 100px;
    padding: 20px 20px;
}

.Input {
    width: auto; 
    margin: auto;
    padding: 2.5px 5px;
    font: normal 14px/14px "Rubik", "sans-serif";
    border-radius: 5px;
    border: 2.5px solid #C1CFE0;
}

.Input2 {
    display: inline;
    width: 40px; 
    margin: auto;
    padding: 2.5px 5px;
    font: normal 14px/14px "Rubik", "sans-serif";
    border-radius: 5px;
    border: 2.5px solid #C1CFE0;
    margin-right: 2px;
    margin-left: 2px;
}

.Button {
    background: #05BD65; 
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12); 
    text-transform: none;
    height: 53px;
    padding: 0 18px;
    color: #FAFAFA;
    border-radius: 11px;
    font: bold 16px/16px 'Rubik', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    margin-top: 20px;
}

.Exclamation {
    display: inline-block;
    width: 12px;
    height: 12px;
    translate: 0px 1.5px;
}

.Warning {
    width: 100%; 
    justify-items: left;
    margin-left: 10px;
    display: none;
    font: normal 12px/12px 'Rubik', sans-serif;
    color: #F7685B;
    margin-top: 5px;
}

.CheckContainer {
    display: inline;
    width: 100%;
    justify-items: left;
    margin-left: 2.5px;
    margin-top: 10px;
}

.Checkbox {
    translate: 0px 1.5px;
    box-shadow: none;
}

.CheckLabel {
    font: normal 14px/14px "Rubik", "sans-serif";
    color: #5f6367;
}

.timerbox {
    display: none;
    width: 100%;
    margin-left: 10px;
    justify-items: left;
    font: normal 14px/14px "Rubik", "sans-serif";
    margin-top: 10px;
}

.Rubik {
    font-family: "Rubik";
}